<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #3: Latihan Directive pada Vue</title>

  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">   

    <button  onclick="vm.openform()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a }}</h1>
    <h1>{{ 'Nilai Rata - Rata : ' + rata }}</h1>
  </div>

  <!-- aplikasi Vue -->
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        a    : 0,       
        rata : 0,
        },
      methods: {
          openform : function(){
            var jumlah = 0 
            for (var i=0; jumlah<10; i++)
                {
                    jumlah+= parseInt(prompt("Masukkan nilai a :"))                                             
                } 
            this.rata = jumlah/i
            this.a = jumlah
            }    
        }      
    })

  </script>
</body>
</html>