<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>quiz Latihan Pengenalan Vue</title>

  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <div id="app">
    <div>      
      <ul>
        <li v-for="n in even(numbers)">{{ n }}</li> 
    </ul>
    </div>
  </div>

  <!-- aplikasi Vue -->
  <script>
        var vm = new Vue({
        el: '#app',
        data: {
            numbers: [ 1, 2, 3, 4, 5 ]
            },
        methods: {
        even: function (numbers) {
            return numbers.filter(function (number) {
            return number % 2 === 0
                })
            }
            }
        })

  </script>
</body>
</html>