<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>quiz Latihan Pengenalan Vue</title>

  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <div id="app">
    <div>
      <input type="text" v-model:value="katakunci"  />
     
      <ul>
        <li v-for="(item, index) in pilih(books)">            
          {{ item }}  
                       
        </li>
    </ul>
    </div>
  </div>

  <!-- aplikasi Vue -->
  <script>
        var vm = new Vue({
        el: '#app',
        data: {            
            katakunci:"a", 
            index:0,           
            books: [
                    'Kalkulus Dasar', 
                    'Fisika Dasar', 
                    'Aljabar Linear Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman' ]
            },  

        methods: {
          pilih: function(books){
             return books.filter(function(book) {
                return this.book[index].search(katakunci)>0
                    } )
                  }
              }
          
        })

  </script>
</body>
</html>