<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>quiz Latihan Pengenalan Vue</title>

  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <div>
      <input type="text" v-model:value="newTask"  />
      <button @click="addtask">{{tombol}}</button>
      <ul>
        <li v-for="(item, index) in users">
             {{ item.name  }}     
             <button @click="edittask">Edit</button>
             <button @click="hapustask">Delete</button>
             //mencari index array users
            {{indek = item.index}}
      

        </li>
    </ul>
    </div>
  </div>

  <!-- aplikasi Vue -->
  <script>
        var vm = new Vue({
        el: '#app',
        data: {
            tombol:"Add",
            newTask:"",
            indek:0,
            users: [
            { name: 'Muhamad Iqbal Mubarok', },
            { name: 'Ruby Purwanti', },
            { name: 'Faqih Muhammad',}      ]
            },

        methods: {
            addtask: function(){
              this.users.push({'name': this.newTask});
              this.newTask = "";
            },
            edittask: function(){
                //ubah tombol menjadi update
              this.tombol = "Update";
               //isi inputan dengan value users.name yang aktif
              this.newTask=this.users.name;
              //Ubah Data dengan 
              this.users.splice(indek,1,this.newTask)
                },

            hapustask: function(){
                //Menghapus array data user yang  aktif/terpilih
              this.users.splice(indek,1);

                }
        }
        })



  </script>
</body>
</html>